.App {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: #1E5FDC;
    color: white;
}

.title {
    font-size: 3rem;
}

.tabbar {
    position: fixed;
    bottom: 0;
    width: 100vw
}